{% extends 'main.html' %}
{% block page_title %}
    {{ homework.student.name }} &mdash; {{ homework.hometask.name }}
{% endblock %}
{% block content %}
    <div class="section">
        <h4><a href="{% url 'student_page' student_id=homework.student.id %}">{{ homework.student.name }}</a>
            &mdash; {{ homework.hometask.name }}</h4>
        <table>
            <tr>
                <th>Репозиторий:</th>
                <td><a href="{{ homework.git_repository_url }}">{{ homework.git_repository_url }}</a></td>
            </tr>
        </table>
    </div>
    <h5>Попытки тестирования: <a href="{% url 'new_test' homework_id=homework.id %}" class="waves-effect waves-light btn right">Test</a></h5>
    <div class="section">
        <ul class="collapsible">
            {% for test in homework.attempts.all %}
                <li>
                    <div class="collapsible-header{% if test.passed %} green{% elif test.finished is None %} gray{% else %} deep-orange{% endif %} accent-1">
                        <i class="material-icons">
                            {% if test.passed %}check{% elif test.finished is None %} av_timer {% else %}clear{% endif %}
                        </i>{% if test.finished is None %}Wait (from {{ test.datetime }}){% else %}{{ test.finished }}{% endif %}
                    </div>{% if test.finished is not None %}
                    <div class="collapsible-body">
                        <pre>{{ test.nice_log }}</pre>
                    </div>{% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
    <style>
        pre {
            white-space: pre-wrap;
            white-space: -moz-pre-wrap;
            white-space: -o-pre-wrap;
            word-wrap: break-word;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.collapsible').collapsible();
        });
    </script>
{% endblock %}